
/*
dkblue: #002635
midblue: #003540
red: #ab1a25
orange: #d97925
cream: #efe7be
*/


header {
  kposition: fixed;
  width: 100%;
  background: #002635;
  box-shadow: 0 4px 3px #aaa;
  border-radius: 0 0 42px 0;
  }
  .navbar-inner {
    padding: 6px 12px;
    }

  header h1 {
    color: #fff;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 300%;
    background: url(../img/logo.png) 0 0 no-repeat;
    padding: 0 0 8px 94px;
    }
    header h1.loading {
      background: url(../img/loading.gif) 28px 8px no-repeat;
      }

body {
  background: #eee;
  }
#loading {
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 6px;
    border-radius: 3px;
    background: #002635;
    display: none;
    }
.alert {
    margin-top: 12px;
    display: none;
    }

#container {
  kpadding-top: 6em;
  }

section {
  margin: 1.5em 0;
  border-radius: 6px;
  }
  section .section-body {
    margin: 1.5em;
    display: none;
    }
  section h2 {
    color: #555;
    border-bottom: 1px dotted #002635;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 160%;
    line-height: 1.5;
    padding: 0 0.5em;
    }
    section h2 i {
      vertical-align: baseline !important;
      }
  section #system-tools {
      margin-top: 1.0em;
      }
      #system-tools .inner {
        float: right;
        }
      #tools .inner {
        margin-left: 3.5em;
        }

    #master dd.status {
      font-weight: bold;
      }
      #master .section-body {
        position: relative;
        }

#masterCapture { display: none; }

#masterToggle { display: none; }

.probe {
  background: #ddd;
  margin: 1.5em 0;
  border-radius: 6px;
  display: none;
  }
  .probe h3 {
    background: #efe7be;
    border: 1px solid #ccc;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 130%;
    padding: 0 0.5em;
    border-radius: 6px;
    cursor: pointer;
    }
  .probe.dummy h3 {
    background: #eee;
    color: #666;
    }
    .probe h3 i {
      vertical-align: baseline;
      }
    .probe h3 .btn-small {
       margin-top: 7px !important;
       }

    .probe.closed, .probe.open {
      display: block;
      }
    .probe.closed .probe-body {
      display: none;
    }
  .probe dd.last_error pre {
    color: #a00;
    }
  .probe .probe-body {
    padding: 0 1.0em;
    }
    .probe .probe-section {
      margin: 0.5em 0 1.0em 0;
      }
  .probe .probeToggle {
    margin-top: 0.35em;
    }
#img-holder {
    position: absolute;
    left: 40%;
    width: 35%;
    display: none;
    }
#capture-img {
  border: 6px solid #aaa;
  margin-bottom: 1.0em;
  }
#latest-img {
  border: 6px solid #aaa;
  margin-bottom: 1.0em;
  }
  .section-body {
      position: relative;
  }
  section dl {
    }
    section dl dd {
      font-family: 'Courier new', monospace;
      }
    section dl.dl-horizontal dt {
      kwidth: 8em !important;
      }
    section dl.dl-horizontal dd {
      kmargin-left: 9em !important;
      }
  section .btn {
    min-width: 8em;
    }
  section .refresh {
    }

  .probe h4 {
    color: #003540;
    border-bottom: 1px dotted #003540;
    margin: 0 0 0.5em 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 100%;
    padding: 0.25em 0.5em;
    }

    .probe .data .table {
      background: #fff;
      }
      .probe .scalar {
        background: #fff;
        padding: 1.0em;
        }
    .probe .data small {
        background: #ddd;
        border-radius: 3px;
        padding: 2px;
        }

    .probe .probe-section ol li {
      background: #fff;
      padding: 0.25em;
      border-radius: 3px;
      margin: 0.2em 0;
      }

#log pre {
  background: #fff;
  }
#logRefresh { display: none; }

footer {
  background: #ddd;
  padding: 1.0em;
  border-top: 1px solid #aaa;
  font-size: 90%;
  }
